html
  include partials/head.pug

  body
    h1= title
    div(class="season")= `Season ${season.number}`

    table
      tr
        th No.
        th Title
        th Director
      for episode in season.episodes
        tr
          td(class="number")= episode.number
          td(class="title")= episode.title
          td(class="director")= episode.director
        tr
          td(colspan=3)= episode.synopsis
